<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>郑大街</title>

    <!-- Bootstrap core CSS -->
    <link href="http://static.zzufor.com/zdj/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://static.zzufor.com/zdj/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">郑大街</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="show.html">首页</a></li>
            <li  class="active"><a href="#">关于我们</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </div>

  <div class="container">
  <div class="jumbotron">
    <h2>关于AlphaThink</h2>
    <p>AlphaThink团队，是专注于互联网技术研究的团队，是大学生自主创业的团队，是一群有相同理想与爱好的年轻人团队，我们秉承“技术改变生活”的精神理念，深入学习与探究互联网技术，关注互联网新兴技术的发展，将这些技术融入生活，改变生活。这是我们美好的愿景与希冀。 团队目前是面向Web和移动终端应用的研究与开发，培养团队骨干成员，构建团队雏形，并深入探究互联网领域的技术，积累经验，储备团队发展力量。AlphaThink是团队的名称，寓意“最初的想法”，我们始终坚信瞬间的灵感，最初的梦想是十分美好的，也许由于种种的原因，我们无法坚持或者去实现这些，最终这些美好想法就渐渐遗忘。我们希望谨记这些，取名AlphaThink。团队提倡自由、自然、轻松的团队氛围，没有职位之分。 </p>
  </div>

      <hr class="featurette-divider">
      <div class="row">
        <h1>团队规约</h1>
            <div class="col-6 col-sm-6 col-lg-4">
              <p>1.喜欢这个团队、热爱这个集体，更崇敬这份职业。 </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <p>2.在乎大家，在乎每一个值得尊敬的人，我们不奢求你有多高的学识，但必须有基本做人的素质，这是你学习的前提。 </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <p>3.我们提倡个人才能的展示和丰富，个性张扬固好，但内涵更重要。所以，认真地对待每一件事，兢兢业业地付出努力，没有捷径。</p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <p>4.尊重团队的劳动成果，实事求是，不可高傲自大，将别人的成果说成是自己的。 </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <p>5.要逐步学会自学，因为自己才是最好的老师。 </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <p>6.对于团队的一些资料，不便于公开的，请严格注意保密。我们提倡交流学习，但不提倡将团队的资料传播，您可以将自己学到的东西，加入自己的理解与体会写出来，教授与别人。两全其美，何乐而不为？ </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <p>7.要有足够的热情与动力，如果中途您觉得自己不适合或者无法融入团队，有退出的意愿，我们诚挚的欢送您，当然有哪一天你还想加入我们，我们还会热情的欢迎您。 </p>
            </div>               
            <div class="col-6 col-sm-6 col-lg-4">
              <p>8.可能团队的事务会占用你的个人时间，我们不能确认占用多少，所以需要你的理解与支持，甚至付出自己宝贵的周末。</p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4">
              <p>9.我们提倡自由、轻松、多样的团队氛围，所以我们都是一样的，一样的努力，一样的追求。 </p>
            </div>                                
          </div>
      <hr class="featurette-divider">
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">回到顶部</a></p>
        <p>&copy; 2014 AlphaThink All Rights Reserved. 
      </footer>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://static.zzufor.com/zdj/js/jquery.min.js"></script>
    <script src="http://static.zzufor.com/zdj/js/bootstrap.min.js"></script>
    <script src="http://static.zzufor.com/zdj/js/holder.min.js"></script>
  </body>
</html>