<html>
<head>
	<meta charset="utf-8"/>
	<title>personal center</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="../../css/reset.css"/>
</head>
<body>
<div id="scroller">
  <div id="corpo">
    <div class="conteudo" id="conteudo1">
      <h1>一.版权声明</h1>
      <p>1.本软件指由郑州大学软件学院AlphaThink团队(以下称AlphaThink团队)开发的，供您从不同的Android(安卓)平台下载，并仅限在终端设备装有(Android(安卓)安装，使用的软件。</p>
      <p>2.AlphaThink团队拥有许可软件的著作权，以及其他相关的知识产权，包括与许可软件有关的各种文档资料。</p>
      <p>3.许可软件的相关标识属于AlphaThink团队的知识产权，并受到相关法律的保护,未经AlphaThink团队明确授权，您不得复制，模仿，使用或发布上述标识，也不得删除或修改应用产品中体现AlphaThink团队的任何标识或身份信息。</p>
      <p>4.未经AlphaThink团队及其关联公司事先书面同意，你不得以任何盈利性或非盈利性的目的自行实施，利用，转让或许可任何第三方实施，利用，转让上述知识产权。</p>
    </div>
    <div class="conteudo" id="conteudo2">
      <h1>二.免责声明</h1>
      <p>1.本协议之效力，解释，变更，执行与争议解决均适用中国人民共和国法律，如无相关法律规定的，则应参照通用的国际商业惯例和(或)行业惯例。</p>
      <p>2.本协议产生的任何争议，您应与AlphaThink团队以友好协商的方式予以解决；经协商无法最终解决的，应向AlphaThink团队所在地有管辖的人民法院提请裁决，本协议任何条款被有管辖权的人民法院裁定为无效，不应影响其他条款或其他任何部分的效力，您与AlphaThink团队仍应善意履行。</p>
      <p>3.您明确同意，您需独自承担使用许可软件产生的全部风险。</p>
      <p>4.除法律法规有明确规定外，许可软件“按现状”和“可得到”的状态提供，AlphaThink团队对许可软件不作任何明示或暗示的保证，包括但不限于许可软件的适用性，没有错误或疏漏，持续性，准确性，可靠性，适用于某一特定用途，同时，AlphaThink团队也不对许可软件所涉及的技术及信息的有效性，准确性，质量，稳定，完整和及时行作出任何承诺和保证。</p>
      <p>5.AlphaThink团队不就电讯系统或手机网络的中断或无法运作，技术故障，计算机错误和病毒，信息损坏或丢失或其他在AlphaThink团队合理控制范围之外的原因二产生的其他任何性质的破坏而向您或任何第三方承担赔偿责任。</p>
      <p>6.使用许可软件设计到无线网络服务，会受到个个换届不稳定因素的影响，包括但不限于因不可抗力，黑客攻击，系统不稳定，您所处位置，您的Android(安卓)终端处于关闭状态，信息内容非法以及其他任何网络技术，通信线，信息安全管理措施等原因造成许可软件无法正常使用，您同意自行承担以上风险，AlphaThink团队不承担任何责任。</p>
      <p>7.在任何情况下，由于您因下述任一情况所引起或与此有关的任何人身伤害或任何附带的，特别的，间接的或后果性的损害赔偿，包括但不限于利润损失，资料损失，业务中断的损害赔偿或任何其他商业损害赔偿或损失，无论因任何原因产生，也无论AlphaThink团队是否知悉该损失可能发生，AlphaThink团队均无须为此承担任何责任。</p>
      <ol>
      <li>1)使用或未能使用许可软件</li>
      <li>2)第三方未经批准的使用许可软件或更改您的数据</li>
      <li>3)使用许可软件进行的行为产生的费用及损失</li>
      <li>4)您对许可软件的误解</li>
      <li>5)任何非因AlphaThink团队的原因而引起的与许可软件有关的其他损失</li>
      <li>6)您同意，如因AlphaThink团队原因，造成许可软件不正常中断或其他技术故障，您所可能获得最高赔偿额为不超过本协议项下AlphaThink团队已实际收取相关软件使用许可总额。</li>
      <li>7)非经AlphaThink团队或AlphaThink团队授权开发并正式发布的其他任何由许可软件衍生的软件均属非法。下载，安装，使用此类软件。可能导致不可预知的风险，由此产生的一切法律责任与纠纷与AlphaThink团队无关，AlphaThink团队并有权中止，终止使用许可盒或其他一切服务。</li>
      <li>8)您与其他使用许可软件的用户间通过许可软件进行时，因您受误导或欺骗而导致或可能导致的任何心理，生理上的伤害以及经济上的损失，应由过错方依法承担所有责任，一概与AlphaThink团队无关。</li>
      </ol>
    </div>
    <div class="conteudo" id="conteudo3">
      <h1>三.本软件的使用授权范围</h1>
      <p>1.用户可以为非商业目的在手机或其他无线手持终端上安装、使用、显示、运行本软件。用户不得为商业运营目的安装、使用、运行本软件，不可以对本软件或者本软件运行过程中释放到任何无线手持终端内存中的数据及本软件运行过程中客户端与服务器端的交互数据进行复制、更改、修改、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经授权的第三方工具/服务接入本软件和相关系统。</p>
      <p>2.用户不得未经AlphaThink团队许可，将本软件安装在未经AlphaThink团队明示许可的其他终端设备上。</p>
      <p>3.保留权利：未明示授权的其他一切权利仍归AlphaThink团队所有，用户使用其他权利时须另外取得AlphaThink团队的书面同意。</p>
      <p>4.用户在遵守法律及本《协议》的前提下可依本《协议》使用本软件，用户不得实施如下行为（包括但不限于):</p>
      <ol>
      	<li>1)删除本软件及其他副本上一切关于版权的信息</li>
      	<li>2)对本软件进行反向工程，如反汇编、反编译等；修改、破坏本软件原状</li>
      	<li>3)进行任何危害网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐户；未经允许进入公众网络或者他人操作系统并删除、修改、增加存储信息；未经许可企图探查、扫描、测试本软件系统或网络的弱点或其它实施破坏网络安全的行为； 企图干涉、破坏本软件系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称</li>
      	<li>4)对于本软件相关信息等，未经AlphaThink团队书面同意，擅自实施包括但不限于下列行为：使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版，建立镜像站点、擅自借助本软件发展与之有关的衍生产品、作品、服务、插件、外挂、兼容、互联等</li>
      	<li>5)使用任何通过侵犯商标、版权、专利、商业机密或任何一方的其他专有权利的方式利用本软件获得的图像或相片的资料或信息</li>
      	<li>6)通过修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件的功能或运行效果，将用于上述用途的软件通过信息网络向公众传播或者运营</li>
      	<li>7)其他以任何不合法的方式、为任何不合法的目的、或以任何与本《协议》不一致的方式使用本软件和和AlphaThink团队提供的其他服务。用户若违反上述规定，AlphaThink团队有权采取终止、完全或部分中止、限制用户使用本软件的功能</li>
      </ol>
      <p>5．使用本软件必须遵守国家有关法律和政策等，维护国家利益，保护国家安全，并遵守本《协议》。对于用户违法或违反本《协议》的使用而引起的一切责任，由用户负全部责任，一概与AlphaThink团队及合作单位无关；导致AlphaThink团队及合作单位损失的，AlphaThink团队及合作单位有权要求用户赔偿.</p>
      <p>6．如果用户未遵守本《协议》的任何一项条款，AlphaThink团队有权立即终止本《协议》，并保留通过法律途径追究责任的权利。</p>
      <p>7．本软件为免费软件。用户可以非商业性地下载、安装、复制和散发本软件产品。如果需要进行商业性的销售、复制和散发，例如软件预装和捆绑，必须获得AlphaThink团队的书面授权和许可。</p>
      <p>8．本软件为免费软件，使用本软件由用户承担风险，用户应具备本软件产品运行所需的条件，用户必须保证有权使用其运行所需操作系统。在适用法律允许的最大范围内，AlphaThink团队在任何情况下不就用户因使用或不能使用本软件产品所发生的特殊的、意外的、直接的或间接的侵权或遭致损失承担赔偿责任。即使已事先被告知该损害发生的可能性。</p>
    </div>
  </div>
</div>
</body>
</html>

