<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="AlphaThink">
    <title>郑大街-有买有卖</title>

    <!-- Bootstrap core CSS -->
    <link href="http://static.zzufor.com/zdj/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://static.zzufor.com/zdj/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
<div role="navigation" class="nnavbar navbar-inverse navbar-static-top">

      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">郑大街-有买有卖</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="http://find.zzufor.com" target="_blank">郑州大学失物招领</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="visible-lg" src="http://static.zzufor.com/zdj/img/app.png">
          <img class="visible-xs visible-sm" src="http://static.zzufor.com/zdj/img/app_1.png">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-danger" href="http://static.zzufor.com/dl/zdj.apk" role="button">点击马上下载</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://static.zzufor.com/zdj/img/zzd.jpeg" alt="Generic placeholder image">
          <h2>在郑大</h2>
          <p>我们的新浪微博帐号，如果你有什么好的建议请随时@在郑大，欢迎关注。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://static.zzufor.com/zdj/img/icon.png" alt="Generic placeholder image">
          <h2>郑大街</h2>
          <p>如果你在使用过程中遇到问题，或者有更好的建议，可以在手机客户端中反馈，也可以在本页面底部留下你的联系方式和宝贵建议，我们会第一时间与你联系。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rounded" src="http://static.zzufor.com/zdj/img/bdyk.jpg" alt="Generic placeholder image">
          <h2>八点一刻</h2>
          <p>微信公众平台，每天给你带来最新最好玩的校园资讯，还有更多实用的功能等你发现。如果有问题也可以微信八点一刻反馈！</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">毕业季倒计时 
            <br/><span class="text-muted">你还在等待什么</span></h2>
          <p class="lead">有了<strong>郑大街</strong>，你就能在离校前轻松处理完全部家当。再也不用和其他同学在炎炎烈日下斗智斗勇。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://static.zzufor.com/zdj/img/1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://static.zzufor.com/zdj/img/2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">真心喜欢的物件<br/><span class="text-muted">有缘人在这里</span></h2>
          <p class="lead">费尽千辛万苦，你只想寻到喜欢的物件。快来<strong>郑大街</strong>，你会在这里找到它！</p>
        </div>
      </div>

      

      <!--<hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">我们在郑大<br/><span class="text-muted">我们在努力</span></h2>
          <p class="lead">郑大街web版，敬请期待</p>
        </div>        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://static.zzufor.com/zdj/img/3.jpg" alt="Generic placeholder image">
        </div>
      </div>-->

      <hr class="featurette-divider">

      <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">郑大街的未来<br/><span class="text-muted">你有什么想说的</span></h2>
        <p class="lead">任何建议都可以和我们说，认真提供建议的同学还有机会获得<strong>小礼品</strong>哦！</p>
      </div>
      <div class="col-md-5">
        <form id="form1" action="http://api.zdj.zzufor.com/v1/app/feedback" method="post" enctype="application/x-www-form-urlencode">
        <div class="form-group">
          <label>姓名</label>
          <input id="name" name="name"  class="form-control" placeholder="你的称呼">
        </div>
        <div class="form-group">
          <label>联系方式</label>
          <input id="email" name="email" class="form-control"  placeholder="方便的联系方式">
        </div> 
        <div class="form-group">
        <label>意见/建议</label>     
        <textarea id="content" class="form-control" name="content" rows="3" placeholder="认真填写，会有小礼品哦！"></textarea>
        </div>  
        <button id="btn" type="submit" class="btn btn-default">发送</button>
      </form>
      </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">回到顶部</a></p>
        <p>&copy; 2014 AlphaThink All Rights Reserved. <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5840625'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D5840625' type='text/javascript'%3E%3C/script%3E"));</script></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://static.zzufor.com/zdj/js/jquery.min.js"></script>
    <script src="http://static.zzufor.com/zdj/js/bootstrap.min.js"></script>
    <script src="http://static.zzufor.com/zdj/js/holder.min.js"></script>
    <script type="text/javascript">

     $("#btn").click(function () { 
      $.ajax({
              cache: true,
              type: "POST",
              url:"http://api.zdj.zzufor.com/v1/app/feedback",
              data:$('#form1').serialize(),
              async: false,
              error: function(request) {
                  alert("感谢反馈");
              },
              success: function(data) {
                  alert(data.desc);
              }
          }); 
       return false;
    });

    </script>
  </body>
</html>